

.home-background {
  min-height: 100vh;
  width: 100%;
  background-image: url('/src/images/library-hall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: rgb(37, 36, 34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-co {
  padding-top: 20px;
  text-align: center;
  font-weight: 800;
  font-size: 2.5rem;
  font-family: serif;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
  color:rgb(238, 236, 234);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.home-subtitle:hover {
  letter-spacing: 2px;
}

.home-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #f1f1f1;
    transition: all 1s ease-in-out;
}

.learn-more-btn {
  padding: 12px 25px;
  background-color: #2980b9;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.home-footer {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
  font-size: 0.9rem;
  color: #ddd;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
